/* theme colors */
$teal: #00FFCC;
$black: #1F1F1F;

/* images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 4%;
}

/* for header and footer */
$timing        : .275s;
$themeColor     : #00FFCC;
$accent        : #00F0F0;

/* header - home, about, hobbies, projects */
header {
    @mixin navbar-links() {
        font-size: 20px;
        color: $themeColor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    overflow: hidden;
    background-color: $black;
      .left {
          text-align: left;
      }

      .right {
          text-align: right;
      }
      
      a {
        float: left;
        @include navbar-links;
      }
      
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        @include navbar-links;  
        border: none;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      a:hover, .dropdown:hover .dropbtn {
        color: $black;
        background-color: $themeColor;
        transition: all $timing ease-out;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $black;
        min-width: 100px;
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: $themeColor;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        color: $black;
        background-color: $themeColor;
        transition: all $timing ease-out;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
}

/* footer - social media logos */
footer {

    @mixin transformScale($size: 1) {
        transform: scale($size);
        -ms-transform: scale($size);
        -webkit-transform: scale($size);
    }

    background-color: $black;
    margin: 0;
    padding: 0;
    text-align: center;
    
    .social-icons {
        padding: 0;
        list-style: none;
        margin: 1em;
      
        li {
            display: inline-block;
            margin: 1.2em;
            position: relative;
            font-size: 2em;
        }
    
        i {
            color: #000;
            position: relative;
            transition: all $timing ease-out;
            bottom: 45px;
        }
    
        a {
            display: inline;
            position: relative;
            top: 15px;
          
            &:before {
                @include transformScale(1.1);
                content: "";
                width: 60px;
                height: 60px;
                border-radius: 100%;
                display: block;
                background: linear-gradient(35deg, $themeColor, $accent);
                transition: all $timing ease-out;
            }
            
            &:hover:before {
                @include transformScale(0);
                transition: all $timing ease-in;
            }
            
            &:hover i {
                @include transformScale(2);
                color: $themeColor;
                background: -webkit-linear-gradient(35deg, $themeColor, $accent);
                -webkit-background-clip: text;
                background-clip: $teal;
                -webkit-text-fill-color: transparent;
                transition: all $timing ease-in;
            }
        }
      
    }

}

  